
AspNetCorePath/.vs/
AspNetCorePath/Restaurant/bin/
AspNetCorePath/Restaurant/obj
AspNetCorePath/Restaurant.Core/bin/
AspNetCorePath/Restaurant.Core/obj/
AspNetCorePath/Restaurant.Data/bin/
AspNetCorePath/Restaurant.Data/obj/
*.cache

