
AspNetCorePath/.vs/AspNetCorePath/v15/.suo
AspNetCorePath/.vs/AspNetCorePath/v15/Server/sqlite3/db.lock
AspNetCorePath/.vs/AspNetCorePath/v15/Server/sqlite3/storage.ide
AspNetCorePath/.vs/AspNetCorePath/v15/Server/sqlite3/storage.ide-shm
AspNetCorePath/.vs/AspNetCorePath/v15/Server/sqlite3/storage.ide-wal
AspNetCorePath/.vs/config/applicationhost.config
