@page "{restaurantId}"
@model Restaurant.Pages.Restaurants.DeleteModel
@{
    ViewData["Title"] = "Delete";
}


    <h1>Delete!!</h1>
    <div class="alert alert-danger">
        Are you sure you want to delete @Model.Restaurant.Name
    </div>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes!</button>
        <a class="btn btn-default" asp-page="List">Cancel</a>
    </form>
