@page
@model Restaurant.Pages.Restaurants.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Your restaurant was not found</h2>

<a class=" btn btn-primary" asp-page="./List">All Restaurants</a>
